//Variables color

$primary: #5cc871;
$secondary: #3e3c53;
$white: #ffffff;
$light: #f7f7f7;

//primary font
$font: 'Kumbh Sans', Roboto, "Helvetica Neue", Arial, sans-serif;

$h1: 3.2rem;
$p: 1.2rem;

$md: 768px;
$lg: 1200px;

//container for desktop purpose
$container: 1020px;

